
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.example{
  display: flex;
}

/* App.css */

body {
  margin: 0;
  padding: 0;
  background: url('./images/bg.png') center top no-repeat;
  background-size: cover; 
  
}

.App {
  text-align: center;
}

.example {
  margin-top: 20px;
}

welcomefont {
  font-family: Poppins;
  font-size: 16;
  line-height: auto;
  letter-spacing: 8%;

}

namefont{
  font-family: Poppins;
  font-size: 86;
  line-height: 140.5%;
  letter-spacing: 0%;

}
