

.welcome-font {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: auto;
    letter-spacing: 8%;
    color: white;
    padding: 10px;
  }
  
  .name-font {
    font-family: 'Poppins';
    font-size: 86px;
    line-height: 140.5%;
    letter-spacing: 0;
    color: white;
    padding: 10px;
    white-space: nowrap;
  }
  